/.angular/cache
dist/
bundles/

package/
npm-debug.log
node_modules/

example/dist/
example/npm-debug.log
example/node_modules/

.nx/

.DS_Store
.vscode/
projects/.DS_Store
projects/app/.DS_Store
projects/lib/.DS_Store
